.h1{
    text-align: center;
}
section{
    width: 768px;
    margin: 10px;
}
.ctg{
    margin: 8px;
    padding: 16px;
    height: 120px;
    color: white;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid cyan;
}
.ctg1{
    background-color: darkcyan;
}
.name{
    font-weight: bold;
}
main{
    width: 768px;
    margin: auto;
}